<div class="container mx-auto py-20">
    <h1 class="text-xl text-purple-700 font-bold">Mis productos</h1>
    <p>Se han encontrado un total de x productos</p>

    <div class="flex flex-wrap content-between mt-20">
        <div class="bg-purple-200 rounded-lg pb-9">
            <img src="https://via.placeholder.com/300x150" class="rounded-t-lg">
            <div class="p-3">
                <h2 class="font-bold text-purple-700 text-lg">Título del producto</h2>
                <p>Descripcion del producto</p>
            </div>
            <div class="flex flex-row justify-around">
                <img src="https://via.placeholder.com/50">
                <img src="https://via.placeholder.com/50">
                <img src="https://via.placeholder.com/50">
            </div>
        </div>
    </div>
</div>