<div class="container h-auto mx-auto py-20 px-6">
    <a mat-raised-button class="h-8 w-8 flex items-center justify-center bg-orange text-white p-5" [routerLink]="['/']">
        <mat-icon class="ml-1.5">arrow_back_ios</mat-icon>
    </a>

    <div class="flex flex-wrap items-center justify-between mt-8">
        <p class="text-black text-3xl font-semibold"><span class="text-orange">{{product.product_name}}</span></p>
    </div>

    <div class="grid grid-cols-2 mx-auto h-screen w-auto py-20 px-6">
        <div>
            <img src="https://picsum.photos/200/300?grayscale" class="rounded-xl">
        </div>
        <div>
            <p>
                <span class="text-black2">Descripción: </span>{{product.description}}
            </p>
            <p>
                <mat-icon class="mb-1 hover:text-orange">list</mat-icon>{{product.category}}
            </p>
            
            <button [disabled]="product.requiredBy"class="bg-orange py-3 px-6 mt-4 w-full text-white disabled:opacity-50" (click)="requestProduct()">Solicitar producto</button>
        </div>
</div>
