<div class="container h-auto mx-auto py-20 px-6">
    <a mat-raised-button class="h-8 w-8 flex items-center justify-center bg-orange text-white p-5" [routerLink]="['/']">
        <mat-icon class="ml-1.5">arrow_back_ios</mat-icon>
    </a>

    <div class="grid grid-cols-2 mx-auto max-w-3xl w-auto py-20 px-6">
        <div>
            <p class="text-black text-3xl font-semibold"><span class="text-orange">{{product.product_name}}</span></p>
            <img src="https://picsum.photos/200/300?grayscale" class="rounded-xl">
        </div>
        <div>
            <div class="flex flex-col gap-20">
                <div class="w-full h-3 py-1 my-auto">
                    <p class="text-black2">Descrición: {{product.description}}</p>
                </div>
                <div class="w-full h-3 py-1 my-auto">
                    <mat-icon class="hover:text-orange">list</mat-icon>{{product.category}}
                </div>
                <div class="w-full h-3 py-1 my-auto">
                    <mat-icon class="hover:text-orange">calendar_today</mat-icon>{{product.day_start | date: 'dd MMMM yyyy'}} - {{product.day_finish | date: 'dd MMMM yyyy'}} 
                </div>
            </div>
            <button [disabled]="product.requiredBy"class="bg-orange py-3 px-6 mt-16 w-full text-white disabled:opacity-50" (click)="requestProduct()">Solicitar producto</button>
        </div>
    </div>
</div>