<div class="grid-container">
    <div class="title pb-8">
        <h1>Registrarse</h1>
    </div>
    <div class="name">
        <input class="rounded bg-gray-200 w-full focus:bg-white max-w-max md:max-w-lg" type="text"
            placeholder="Ingrese su nombre">
    </div>
    <div class="last-name">
        <input class="rounded bg-gray-200 w-full focus:bg-white" type="text" placeholder="Ingrese su apellido">
    </div>
    <div class="email">
        <!-- <input class="rounded bg-gray-200 focus:bg-white" type="text" placeholder="Ingrese su e-mail"> -->
        <input
            class="text-sm appearance-none rounded w-full py-2 px-3 text-gray-700 bg-gray-200 leading-tight focus:outline-none focus:shadow-outline h-10"
            id="email" type="text" placeholder="Your email address" />
    </div>
    <div class="password">
        <input class="rounded w-full bg-gray-200 focus:bg-white" type="text" placeholder="Ingrese su contraseña">
    </div>
    <div class="log-in">
        <span>¿Tienes cuenta? <a href="#" target="_blank" rel="noopener noreferrer">Inicia sesión</a></span>
    </div>
    <div class="create-account"></div>
</div>