<div class="relative flex flex-col items-center justify-center select-none">
  <div class="flex flex-col h-screen bg-white px-4 sm:px-6 md:px-8 lg:px-10 py-8 rounded-xl w-full max-w-md">
    <div class="font-medium self-right text-xl sm:text-2xl rounded-full text-black">Registrarse</div>
    <div class="mt-10">
      <form method="POST" action="" autocomplete="">
        <div class="relative w-full mb-3">
          <mat-form-field
            class="border-0 p-4 placeholder-gray-450 text-gray-700 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full">
            <mat-label class="text-purple-700">Nombre</mat-label>
            <input matInput placeholder="Nombre" [formControl]="NameFormControl" [errorStateMatcher]="matcher"
              [(ngModel)]="this.registerForm.name" />
            <mat-hint>Ha ocurrido un error</mat-hint>
            <mat-error *ngIf="NameFormControl.hasError('maxlength')">El nombre tiene que tener un máximo de 50 caráteres
            </mat-error>
            <mat-error *ngIf="NameFormControl.hasError('minlength')">El nombre tiene que tener un mínimo de 3 caráteres
            </mat-error>
            <mat-error
              *ngIf="NameFormControl.status=='INVALID' && !(NameFormControl.hasError('required') || NameFormControl.hasError('maxlength') || NameFormControl.hasError('minlength'))">
              Formato de nombre no válido. Ejemplo:Paco</mat-error>
            <mat-error *ngIf="NameFormControl.hasError('required')">
              El Nombre es <strong>requerido</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="relative w-full mb-3">
          <mat-form-field
            class="border-0 p-4 placeholder-gray-450 text-gray-700 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full">
            <mat-label class="text-purple-700">Apellidos</mat-label>
            <input matInput placeholder="Apellidos" [formControl]="lastNameFormControl" [errorStateMatcher]="matcher"
              [(ngModel)]="this.registerForm.last_name" />
            <mat-hint>Ha ocurrido un error</mat-hint>
            <mat-error *ngIf="lastNameFormControl.hasError('maxlength')">El apellido tiene que tener un máximo de 50
              carcteres </mat-error>
            <mat-error *ngIf="lastNameFormControl.status=='INVALID' && !lastNameFormControl.hasError('required')">
              Formato Apellidos no válido. Ejemplo:Boso Cocreto</mat-error>
            <mat-error *ngIf="lastNameFormControl.hasError('required')">
              El apellido es <strong>requerido</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="relative w-full mb-3">
          <mat-form-field
            class="border-0 p-4 placeholder-gray-450 text-gray-700 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full">
            <mat-label class="text-purple-700">Email</mat-label>
            <input  matInput placeholder="Email" [formControl]="emailFormControl"
              [errorStateMatcher]="matcher" [(ngModel)]="this.registerForm.email" />
            <mat-hint>Ha ocurrido un error</mat-hint>
            <mat-error *ngIf="
            emailFormControl.hasError('email') &&
                                !emailFormControl.hasError('required')
                              ">
              Por favor ingresa un formato de email válido
            </mat-error>
            <mat-error *ngIf="emailFormControl.hasError('required')">
              El Email es <strong>requerido</strong>
            </mat-error>
          </mat-form-field>
        </div>

        <div class="relative w-full mb-3">
          <mat-form-field
            class="border-0 p-4 placeholder-gray-450 text-gray-700 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full">
            <mat-label class="text-purple-700">Código postal</mat-label>
            <input matInput placeholder="Código postal" [formControl]="postCodeFormControl"
              [errorStateMatcher]="matcher" [(ngModel)]="this.registerForm.post_code" />
            <mat-hint>Ha ocurrido un error</mat-hint>
            <!-- <mat-error *ngIf="postCodeFormControl.hasError('maxlength') || postCodeFormControl.hasError('minlength')">El código postal tiene que tener 5 carcteres </mat-error> -->
            <mat-error *ngIf="postCodeFormControl.hasError('required')">
              El código postal es <strong>requerido</strong>
            </mat-error>
            <mat-error *ngIf="postCodeFormControl.status=='INVALID' && !postCodeFormControl.hasError('required')">
              Formato no válido. Ejemplo:34200</mat-error>
          </mat-form-field>
        </div>
        <div class="relative w-full mb-3">
          <mat-form-field
            class="border-0 p-4 placeholder-gray-450 text-gray-700 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full">
            <mat-label class="text-purple-700">Contraseña</mat-label>
            <input matInput type="password" placeholder="Contraseña" [formControl]="passwordFormControl"
              [errorStateMatcher]="matcher" [(ngModel)]="this.registerForm.password" />
            <mat-hint>Ha ocurrido un error</mat-hint>
            <mat-error *ngIf="passwordFormControl.hasError('minlength')">La contraseña tiene que tener un mínimo de
              {{minPw}}
              carcteres </mat-error>
            <mat-error *ngIf="passwordFormControl.hasError('maxlength')">La contraseña tiene que tener un máximo de
              {{maxPw}}
              carcteres </mat-error>
            <mat-error *ngIf="passwordFormControl.hasError('required')">
              Contraseña <strong>requerida</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="text-center mt-6">
          <button type="submit" class="bg-purple-700 hover:bg-purple-500 text-white font-bold py-2 px-4 rounded"
            (click)="register()" ng-disable=" NameFormControl.valid ">Enviar</button>
        </div>
        <div class="text-center mt-6">
          <div class="w-full text-right">
            <span class="text-black text-s">¿Tienes cuenta? </span><a [routerLink]="['../login']"
              class="text-purple-800 hover:text-purple-500 text-lg"><small>Entra aquí</small></a>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
