<header class="border-b-2 border-purple-700 h-24 w-full">
    <nav class="flex flex-wrap items-center justify-between p-3 h-full w-full">
        <a [routerLink]="['']" (click)=this.clickedHome() class="text-purple-700 font-bold text-2xl hover:text-purple-300">Comunidad</a>
        <div *ngIf="!this.loginState" class="ml-3">
            <a [routerLink]="['sign-in']" class="text-black mr-2 hover:text-purple-300" (click)=this.clicked()>Regístrate</a>
            <a [routerLink]="['login']" class="bg-purple-700 rounded-full py-3 px-3 text-white hover:bg-purple-300" (click)=this.clicked()>Iniciar sesión</a>
        </div>
        <div *ngIf="this.loginState">
            <app-banner-user></app-banner-user>
        </div>
    </nav>
</header>

<!-- TODO: Setear los ngifs de manera que tomen el estado del user de auth service -->
