<div class="container">
    <div class="box pt-6">
      <div class="box-wrapper">
          <div class=" bg-white rounded flex items-center w-full p-3 shadow-sm border border-orange mb-5">
            <button class="outline-none focus:outline-none"><svg class=" w-5 text-gray-600 h-5 cursor-pointer" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" stroke="currentColor" viewBox="0 0 24 24"><path d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path></svg></button>
            <input matInput [formControl]="search"
              class="py-2 text-sm text-white rounded-lg pl-10 focus:outline-none focus:bg-white focus:text-gray-900"
              placeholder="Buscar..." autocomplete="off">
          </div>
      </div>
  </div>
</div>
