<mat-form-field
  class="border-0 p-4 placeholder-gray-450 text-gray-700 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full">
  <mat-label class="text-purple-700">Contraseña</mat-label>
  <input matInput type="password" placeholder="Contraseña" [formControl]="passwordFormControl"
    [errorStateMatcher]="matcher" />
  <mat-hint>Ha ocurrido un error</mat-hint>
  <mat-error *ngIf="passwordFormControl.hasError('minlength')">La contraseña tiene que tener un mínimo de {{minPw}}
    carcteres </mat-error>
  <mat-error *ngIf="passwordFormControl.hasError('maxLength')">La contraseña tiene que tener un máximo de {{maxPw}}
    carcteres </mat-error>
  <mat-error *ngIf="passwordFormControl.hasError('required')">
    Contraseña <strong>requerida</strong>
  </mat-error>
</mat-form-field>
