  <mat-form-field class="border-0 p-4 placeholder-gray-450 text-gray-700 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full">
    <mat-label class="text-purple-700">Email</mat-label>
    <input
      matInput
      placeholder="Email"
      [formControl]="emailFormControl"
      [errorStateMatcher]="matcher"
      [(ngModel)]="this.loginForm.email"
    />
    <mat-hint>Ha ocurrido un error</mat-hint>
    <mat-error
      *ngIf="
        emailFormControl.hasError('email') &&
        !emailFormControl.hasError('required')
      "
    >
      Por favor ingresa un formato de email válido
    </mat-error>
    <mat-error *ngIf="emailFormControl.hasError('required')">
      El Email es <strong>requerido</strong>
    </mat-error>
  </mat-form-field>
