<div class="flex min-h-screen bg-white py-20 px-6">

    <div class="md:w-1/2 max-w-lg mx-auto my-24 px-4 py-5 shadow-none">
        <p class="text-black2 text-3xl font-semibold">Sobre nosotros</p>

        <p class="text-black2">Somos el equipo Intrepid Ibex Of Love, imaginaos hasta donde hemos llegado
            que nos hemos creado una organización en GitHub solo porque nos hacía demasiada ilusión.
        </p>
        <p class="text-black2">
            Somos un trío maravilloso y un perro <span class="text-orange">#milt-off</span>
        </p>
        <p class="text-black2">
            Si quereis más información sobre nosotros, pues... haz scroll ¿no? máquina.
        </p>
    </div>

    <div class="w-1/2 bg-cover md:block hidden">
        <img class="object-cover h-50 w-50" src="../../../../assets/img/aboutus.png"
        alt="about-us" />
    </div>

</div>
