<div class="flex min-h-screen bg-white">

  <div class="w-1/2 bg-cover md:block hidden" style="background-image:  url(https://images.pexels.com/photos/7475736/pexels-photo-7475736.jpeg?cs=srgb&dl=pexels-mikhail-nilov-7475736.jpg&fm=jpg)"></div>

  <div class="md:w-1/2 max-w-lg mx-auto my-24 px-4 py-5 shadow-none">
      <div class="text-left p-0 font-sans">
          <p class="text-black text-3xl font-bold">Iniciar sesión</p>
      </div>
      <form method="POST" action="" autocomplete="" [formGroup]="newForm">
        <div class="w-full mb-3">
          <mat-form-field
            class="border-0 p-4 placeholder-gray-450 text-gray-700 bg-white rounded text-sm focus:outline-none focus:ring w-full">
            <mat-label class="text-orange">Email</mat-label>
            <input (blur)="focus=false" (focus)="focus=true" matInput placeholder="Email" formControlName="email"
              [errorStateMatcher]="matcher" [(ngModel)]="this.loginForm.email" />
            <mat-error *ngIf="email.invalid && (email.dirty || email.touched)   && !focus && !email.hasError('required')">
              Por favor ingresa un formato de email válido
            </mat-error>
            <mat-error *ngIf="email.hasError('required')">
              El Email es <strong>requerido</strong>
            </mat-error>
          </mat-form-field>
        </div>

        <div class="w-full mb-3">
          <mat-form-field
          class="border-0 p-4 placeholder-gray-450 text-gray-700 bg-white rounded text-sm focus:outline-none focus:ring w-full">
          <mat-label class="text-orange">Contraseña</mat-label>
          <input matInput type="password" placeholder="Contraseña" formControlName="password"
            [errorStateMatcher]="matcher" [(ngModel)]="this.loginForm.password"/>
          <mat-error *ngIf="password.hasError('minlength')">La contraseña tiene que tener un mínimo de
            {{minPw}}
            caracteres </mat-error>
          <mat-error *ngIf="password.hasError('maxlength')">La contraseña tiene que tener un máximo de
            {{maxPw}}
            caracteres </mat-error>
          <mat-error *ngIf="password.hasError('required')">
            Contraseña <strong>requerida</strong>
          </mat-error>
        </mat-form-field>
        </div>
        <div class="text-center mt-6">
          <button type="button" class="py-3 bg-orange text-white w-full rounded hover:bg-orange"
            (click)="login()" [disabled]="!newForm.valid" >Iniciar sesión</button>
        </div>
        <div class="text-center flex-wrap mt-6">

            <p>
              <a class="text-blacktext-lg leading-3" [routerLink]="['/password']">
                <small>¿Has olvidado tu
                contraseña?</small></a>
            </p>
            <p>
              <a [routerLink]="['../sign-in']"
                class="text-black hover:text-orange text-lg"><small>Registrarme</small></a>
            </p>
        </div>
      </form>          
  </div>
</div>