<button mat-icon-button [matMenuTriggerFor]="menu" class="ml-3">
  <img src="https://via.placeholder.com/50"class="rounded-full" alt="">
</button>
<mat-menu #menu="matMenu" class="bg-gray-100"> 
  <button mat-menu-item>
    <mat-icon [ngStyle]="{'color':'rgb(89,0,207)'}">person</mat-icon>
    <span class="text-black">Perfil</span>
  </button>
  <button mat-menu-item>
    <mat-icon [ngStyle]="{'color':'rgb(89,0,207)'}">settings</mat-icon>
    <span class="text-black">Configuración</span>
  </button>
  
  <button mat-menu-item>
    <mat-icon [ngStyle]="{'color':'rgb(89,0,207)'}">logout</mat-icon>
    <span class="text-black">Cerrar sesión</span>
  </button>
</mat-menu>

<!-- TODO: Enlazar botones con componentes -->