<div class="container h-auto mx-auto py-20 px-6">
    <div class="flex flex-wrap items-center justify-between">
        <p class="text-orange text-3xl font-semibold">Hola de nuevo, {{ user.name | titlecase }}</p>
        <div class="py-7">
            <a [routerLink]="['/new-post']" class="bg-orange font-regular py-3 px-6 text-white hover:bg-orange">Subir producto</a>
        </div>
    </div>

    <div class="flex flex-col py-6">
        <p class="text-2xl text-black3">Mis artículos</p>
        <span>Has subido un total de {{ allProducts.length }} artículos a la
            plataforma</span>
        <div *ngIf="this.allProducts.length === 0" class="mx-auto pt-20">
            <img class="object-cover h-50 w-50" src="../../../../assets/img/empty.png"
                alt="Empty box" />
        </div>
    </div>

    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-3">
        <div *ngFor="let product of allProducts" class="bg-white p-2 sm:p-4 sm:h-64 rounded-2xl shadow-lg flex flex-col sm:flex-row gap-5 select-none">
            <div class="h-52 sm:h-full sm:w-72 rounded-xl bg-gray-200">
                <img src="https://picsum.photos/200/300?grayscale" class="rounded-xl">
            </div>
            <div class="flex flex-col flex-1 gap-5 sm:p-2">
                <div class="flex flex-1 flex-col gap-3">
                    <div class="w-full h-14">
                        <p class="font-extrabold text-xl text-orange">{{product.product_name}}</p>
                    </div>
                    <div class="w-full h-3 py-1 mb-9">
                        <mat-icon class="hover:text-orange">description</mat-icon> {{product.description | slice:0:40}}...
                    </div>
                    <div class="w-full h-3 py-1 mb-3">
                        <mat-icon class="hover:text-orange">label</mat-icon>{{product.category}}
                    </div>
                    <div class="w-full h-3 py-1 my-auto">
                        <mat-icon class="hover:text-orange">calendar_today</mat-icon>{{product.day_start | date: 'dd MMMM yyyy'}} - {{product.day_finish | date: 'dd MMMM yyyy'}} 
                    </div>
                </div>
                
                <div class="mt-auto flex-row flex gap-3">

                    <div class="text-center w-20 h-8 rounded-full">
                        <mat-icon (click)="deleteProduct(product.id)" class="hover:text-orange">delete</mat-icon>
                    </div>
                    <div class="text-center w-20 h-8 rounded-full">
                        <mat-icon [routerLink]="['/edit-post/',product.id]" class="hover:text-orange">edit</mat-icon>
                    </div>
                    <div class="text-center w-20 h-8 rounded-full">
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>