<div class="container h-auto mx-auto py-20 px-6">
    <div class="flex flex-wrap items-center justify-between">
        <h1 class="text-purple-700">Hola de nuevo {{ user.name | titlecase }}</h1>
        <div class="py-7">
            <a [routerLink]="['/new-post']" class="bg-purple-700 rounded-full py-3 px-6 text-white hover:bg-purple-400">Subir producto</a>
        </div>
    </div>

    <div class="flex flex-col py-6">
        <h3>Mis artículos</h3>
        <span>Has subido un total de {{ allProducts.length }} artículos a la
            plataforma</span>
        <div *ngIf="this.allProducts.length === 0" class="mx-auto pt-20">
            <img class="object-cover h-50 w-50 rounded-full opacity-60" src="../../../../assets/img/empty.png"
                alt="Empty box" />
        </div>
    </div>

    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-3">
        <div *ngFor="let product of allProducts" class="bg-white p-2 sm:p-4 sm:h-64 rounded-2xl shadow-lg flex flex-col sm:flex-row gap-5 select-none">
            <div class="h-52 sm:h-full sm:w-72 rounded-xl bg-gray-200">
                <img [src]="toBase64(product.photo)" class="img">
            </div>
            <div class="flex flex-col flex-1 gap-5 sm:p-2">
                <div class="flex flex-1 flex-col gap-3">
                    <div class="w-full h-14">
                        <h3 class="font-extrabold text-purple-700">{{product.product_name}}</h3>
                    </div>
                    <div class="w-full h-3">
                        {{product.description}}
                    </div>
                </div>
                
                <div class="mt-auto flex gap-3">
                    <div class="text-center w-20 h-8 rounded-full">
                        <mat-icon (click)="deleteProduct(product.id)" class="hover:text-purple-700">delete</mat-icon>
                    </div>
                    <div class="text-center w-20 h-8 rounded-full">
                        <mat-icon [routerLink]="['/edit-post/',product.id]" class="hover:text-purple-700">edit</mat-icon>
                    </div>
                    <div class="text-center w-20 h-8 rounded-full">
                        <mat-icon class="hover:text-purple-700" >remove_red_eye</mat-icon>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>